body {
  margin: 0;
  paddin: 0;
  font-family: "Arial";
  background-color: rgba(39,39,39);
}

.corpo {
  width: 320px;
  margin-left: 35px;
}

.logo {
  width: 180px;
  top: 0;
  left: 0;
  position: absolute;
}

.ranking p {
  color: #272727;
  text-align: right;
  padding: 10px 40px;
  margin-top: 120px;
  margin-left: 70px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(255,255,255);
  border-radius: 3px;
}

.primeirosColocados {
  margin-top: 15px;
  width: 320px;
  border-radius: 5px;
  background-color: red;
}

.apresentacao {
  padding: 15px;
  display: flex;
  background-color: rgba(250,250,250);
  border-style: solid;
  height: 90px;
}

.apresentacao:nth-child(even){
  background-color: #f2f1f1;
}

.apresentacao:hover{
  background-color: #ba3538;
}

.apresentacao:hover .texto h1{
  color: #ffffff;
}

.apresentacao:hover .texto p{
  color: #330C0D;
}

.apresentacao:hover .ator{
  border-color: #ffffff;
}

.apresentacao:hover .none{
  display: block;
}

.apresentacao:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.apresentacao:last-of-type{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.texto{
  padding: 15px 15px;
}

.texto h1{
  color: #ba3538;
  font-size: 15px;
  font-weight: bold;
}

.texto p{
  padding-top: 3px;
  font-size: 10px;
  color: #707070;
  font-weight: bold;
}

.ator {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #ba3538;
  width: 60px;
}

.numerador{
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  margin-bottom: 5px;
  margin-top: -20px;
  margin-left: 40px;
  background-color: white;

}

.numerador p{
  padding: 3px 5px;
  font-size: 11px;
  color: #707070;
  font-weight: bold;
}

.votacao {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.gosta{
  background-color: #FFFFFF;
  border-right: 1px solid;
}

.naogosta{
  background-color: #FFFFFF;
  border-left: 0.5px solid #ffffff;
}

.title{
  background-color: #ba3538;
 }

 .title p{
    color: #FFFFFF;
    padding: 3px 10px;
    font-size: 9px;
    font-weight: bold;
 }

 .porcentagem{
  display: flex;
  justify-content: center;
 }

 .porcentagem p {
    padding: 4px;
    font-weight: bold;
    color: #919191;
    font-size: 19px;
 }

 .none{
  display: none;
  position: absolute;
  margin-left: 325px;
  margin-top: 6px;
 }


 .votacao::before {
    position: absolute;
    width: 10px;
    height: 11px;
    left: -2%;
    top: 42%;
    background-color: white;
    content: '';
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(45deg);
}
